body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin: 50px;
        }

        #urlContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 400px;
            margin: auto;
        }

        #urlInput {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .btn {
            padding: 12px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            margin: 5px;
            transition: background-color 0.3s ease;
        }

        #shortenBtn {
            background-color: #4CAF50;
            color: white;
            order: 1;
        }

        #copyBtn {
            background-color: #008CBA;
            color: white;
            order: 2;
        }

        #error {
            color: red;
            margin-top: 10px;
        }